---
interface Props {
  title?: string
  description?: string
  otg?: string
}

const {
  title = 'Home',
  description = 'This is a solution to the audiophile ecommerce challenge on Frontend Mentor',
  otg = 'preview.webp'
} = Astro.props
const name = `Audiophile Ecommerce | ${title}`
---

<html lang='en'>
  <head>
    <title>{name}</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/favicon.png' />
    <meta name='description' content={description} />
    <meta property='og:type' content='website' />
    <meta property='og:title' content={name} />
    <meta property='og:image' content={otg} />
    <meta property='og:description' content={description} />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:title' content={name} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={otg} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'
      rel='stylesheet'
    />
  </head>
  <body class='min-h-svh flex flex-col'>
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: 'Manrope', sans-serif;
    overscroll-behavior: none;
  }

  a,
  button,
  input,
  textarea,
  a:focus,
  button:focus,
  input:focus,
  textarea:focus {
    outline: none;
  }
</style>
